#requireResource("com.edwardawebb.atlassian-freemind-plugin:applet-resources")

 <div class="freemind-macro">
<![if !IE]>
<object classid="java:freemind.main.FreeMindApplet.class"
      type="application/x-java-applet;version=1.5"
      archive="$baseUrl/download/resources/com.edwardawebb.atlassian-freemind-plugin:applet-resources/freemind-browser.jar"
      width="$width" height="$height">
   <param name="scriptable" value="false" />
   <param name="modes" value="freemind.modes.browsemode.BrowseMode" />
   <param name="browsemode_initial_map" value="$attachmentEncodedUri" />
   <param name="initial_mode" value="Browse" />
   <param name="selection_method" value="selection_method_direct" />
   <param name="freemind.debug" value="true"/>
<![endif]>
   <object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
         codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0-windows-i586.cab"
         width="$width" height="$height">
      <param name="code" value="freemind.main.FreeMindApplet" />
      <param name="archive" value="$baseUrl/download/resources/com.edwardawebb.atlassian-freemind-plugin:applet-resources/freemind-browser.jar" />
      <param name="scriptable" value="false" />
      <param name="modes" value="freemind.modes.browsemode.BrowseMode" />
      <param name="browsemode_initial_map" value="$attachmentEncodedUri" />
      <param name="initial_mode" value="Browse" />
      <param name="selection_method" value="selection_method_direct" />
   <param name="freemind.debug" value="true"/>
      <strong>
        This browser does not have a Java Plug-in.
      </strong>
      <br />
      <a href="http://java.sun.com/products/plugin/downloads/index.html">
        Get the latest Java Plug-in here.
      </a>
   </object>
<![if !IE]>
</object>
<![endif]>
</div>